################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExamenBGVM/obj
/ExamenBGVM/bin/Debug/net6.0
/.vs
